<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/Favicon.png') }}">


        <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <!-- Box icon  -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>News Classification</title>
        <style>

               

            .result{
                background-color:rgb(238, 232, 232);
                /* display: block; */
                width: 100%;
                height: 100px;
                border: 1.2px solid black;
                border-radius: 5px;
            }
           .contact__container {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                
                }
                .div1,
                .div2 {
                flex-basis: 45%;
                margin-bottom: 1rem;
                flex-grow: 1;
                }

                .div1{
                padding-left: 80px;
                }

                
                .div2 {
                
                padding-right: 80px;
                }

            @media screen and (max-width: 546px) {
                .contact__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .div1,
                .div2 {
                    flex-basis: 100%;
                    width: 80%;

                }
                .div1{
                padding-left: 0px;
                }
            }


                @media screen and (max-width: 768px) {
                .contact__container {
                    
                    flex-direction: column;
                    align-items: center;
                }

                .div1,
                .div2 {
                    flex-basis: 100%;
                    width: 80%;

                }
                .div1{
                padding-left: 0px;
                }
                .div2 {
                
                padding-right: 0px;
                }
            }
            
           
        </style>
    
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">
                        <img src="/static/img/Favicon.png" alt="Nepali New Classification">
                        <span>Nepali News Classification</span>
                      </a>
                    <!-- <a href="" class="nav__logo"> Nepali News Classification</a> -->
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#catogery" class="nav__link">Catogery</a></li>
                        <!-- <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li> -->
                        <!-- <li class="nav__item"><a href="{{ url_for('login') }}" class="nav__link">Login</a></li> -->

                        <li class="nav__item" style="color: hsl(224, 89%, 60%)
                        ;">Welcome, {{username}}</li>

                        <li class="nav__item"><a href="{{ url_for('logout') }}" class="nav__link">Logout</a></li>
                        

                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi, {{ username }}<br><span class="home__title-color">Classify Your News</span><br>Here</h1>
                    
                    <a href="#predict_section" class="button">Click me</a>
                    
                </div>
                    <div class="home__img">
                        <img src="/static/img/pic_ (5).jpg" alt="">
                    </div>
                </div>

                
            </section>


            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About Us</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="/static/img/pic_ (10).jpg" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">Nepali News Classification </h2>
                        <p class="about__text">This is a Platform where you can easily classify your Nepali news. Here you can find your news in different catogery
                            like Technology, Politics, Business, Health, Politics and many more. As we process only the Nepali News for this time 
                            but we are planning to use it for different language news. </p>           
                    </div>                                   
                </div>
            </section>

           
            <!--===== Catogery =====-->
            <section class="catogery section" id="catogery">
                <h2 class="section-title">Catogery</h2>

                <div class="work__container bd-grid">

                    <a href="#" class="work__img">
                        <img src="/static/img/pic_ (20).jpg" alt="">
                        <div class="catogery_img_text">
                            <div class="text">Health</div>
                        </div>
                    </a>
                    
                    <a href="#" class="work__img">
                        <img src="/static/img/pic_ (17).jpg" alt="">
                        <div class="catogery_img_text">
                            <div class="text">Politics</div>
                        </div>
                    </a>
                    <a href="#" class="work__img">
                        <img src="/static/img/pic_ (18).jpg" alt="">
                        <div class="catogery_img_text">
                            <div class="text">Business</div>
                        </div>
                    </a>
                    <a href="#" class="work__img">
                        <img src="/static/img/pic_ (19).jpg" alt="">
                        <div class="catogery_img_text">
                            <div class="text">Sports</div>
                        </div>
                    </a>
                    <a href="#" class="work__img">
                        <img src="/static/img/pic_ (21).jpg" alt="">
                        <div class="catogery_img_text">
                            <div class="text">Technology</div>
                        </div>
                    </a>
                    <a href="#" class="work__img">
                        <img src="/static/img/pic_ (16).jpg" alt="">
                        <div class="catogery_img_text">
                            <div class="text">Entertainment</div>
                        </div>
                    </a>
                    
                </div>
            </section>

            <section class="Predict section" id="predict_section">
                <h2 class="section-title">Classify</h2>

                <div class="contact__container bd-grid">
                    <div class="div1">
                        <form method="POST" action="/predict" class="contact__form" accept-charset="UTF-8" id="myForm">
                        <label for="label" class="contact__lable" style="font-weight:600; font-size: large;">Enter your news:</label>
                        <br>
                        <br> 
                       
                        <textarea name="data" placeholder="Here..." id="data" rows="15" cols="1" class="contact__input"></textarea> 
                        <input type="button" class="contact__button button_form" onclick="submitForm();" value="Classify">
                        <br>    
                        </form>

                    </div>
                        
                                                
                    <div class="div2">
                        <br>
                        <label for="label" class="contact__lable" style="font-weight:600; font-size: large;">Your news belogs to:</label>
                        <br>
                        <span id="errorMsg">

                        </span>
                        <br>
                        <div class="result">

                        <span style="color: hsl(224, 89%, 60%); font-size:larger; font-size:35px; font-weight: 900;" 
                               id="prediction"></span>
                        </div>
                    </div>
                        
                        <!-- <p style="color: hsl(224, 89%, 60%);font-size:larger; font-weight: 750;">{{ prediction }}</p> -->

                         <!-- <input type="text" class="contact__input" id="data" name="data"> -->
                         

                    
                </div>
            </section>
        </main>
        </form>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <p class="footer__copy">&#169; Copyright 2023. All rigths reserved</p>
        </footer>
         



        <!--===== JS functions =====-->
       <script>
            function submitForm() {
                // alert("Called");
                
                var x = document.forms["myForm"]["data"].value;
                if (x == "") {
                    
                document.getElementById("errorMsg").innerHTML = "<span style='color:red; font-weight:100'>Please fill out the required field</span>";
                document.getElementById("prediction").style.display = "none";

                return false;

                    // alert("Please fill out the required field");
                    // return false;
                }
                else if (/[a-zA-Z]/.test(x)) {

                document.getElementById("errorMsg").innerHTML = "<span style='color:red; font-weight:100'>Please enter a Nepali text only</span>";
                document.getElementById("prediction").style.display = "none";
                // var errorMsg = document.getElementById("prediction");
                // errorMsg.style.color = "red";
                // errorMsg.style.fontWeight= "500";
                // errorMsg.innerHTML = "Please enter a Nepali text only";
                // document.getElementById("errorMsg").innerHTML = "Please enter a Nepali text only";
                // document.getElementById("prediction").style.display = "none";


                return false;
                }

                else if (/[0-9]/.test(x)) {
                document.getElementById("errorMsg").innerHTML = "<span style='color:red; font-weight:100'>Please enter a Nepali text only</span>";
                document.getElementById("prediction").style.display = "none";
                // var errorMsg = document.getElementById("prediction");
                // errorMsg.style.color = "red";
                // errorMsg.style.fontWeight= "500";
                // errorMsg.innerHTML = "Please enter a Nepali text only";
                // document.getElementById("errorMsg").innerHTML = "Please enter a Nepali text only";
                // document.getElementById("prediction").style.display = "none";

                return false;
                }

                else if (/^[A-Za-z0-9\s]+$/.test(x)) {
                document.getElementById("errorMsg").innerHTML = "<span style='color:red; font-weight:100'>Please enter a Nepali text only</span>";
                document.getElementById("prediction").style.display = "none";
                // var errorMsg = document.getElementById("prediction");
                // errorMsg.style.color = "red";
                // errorMsg.style.fontWeight= "500";
                // errorMsg.innerHTML = "Please enter a Nepali text only";
                // document.getElementById("errorMsg").innerHTML = "Please enter a Nepali text only";
                // document.getElementById("prediction").style.display = "none";

                return false;
                }
    
                else if (/[!#$%^&*]/.test(x)) {
                document.getElementById("errorMsg").innerHTML = "<span style='color:red; font-weight:100'>Please enter a Nepali text only</span>";
                document.getElementById("prediction").style.display = "none";
                // var errorMsg = document.getElementById("prediction");
                // errorMsg.style.color = "red";
                // errorMsg.style.fontWeight= "500";
                // errorMsg.innerHTML = "Please enter a Nepali text only";
                // document.getElementById("errorMsg").innerHTML = "Please enter a Nepali text only";
                // document.getElementById("prediction").style.display = "none";
                return false;
                }

                else if (x.length < 60) {
                document.getElementById("errorMsg").innerHTML = "<span style='color:red; font-weight:100'>Please enter a longer message</span>";
                document.getElementById("prediction").style.display = "none";
                // var errorMsg = document.getElementById("prediction");
                // errorMsg.style.color = "red";
                // errorMsg.style.fontWeight= "500";
                // errorMsg.innerHTML = "Please enter a longer message";
                // document.getElementById("errorMsg").innerHTML = "Please enter a longer message";
                // document.getElementById("prediction").style.display = "none";
                return false;
                }
               

                else{

                    var form = document.getElementById("myForm");
                    var formData = new FormData(form);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/predict");
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                        var prediction = xhr.responseText;
                        console.log(typeof(prediction));
                        prediction=JSON.parse(prediction);
                        console.log(prediction['data']);
                        document.getElementById("prediction").innerHTML = prediction['data'];
                        document.getElementById("errorMsg").innerHTML = " ";

                        document.getElementById("prediction").style.display = "block";

                       
                    }
                };
                xhr.send(formData);
                document.getElementById("prediction");
                return false;
                } 
            }
       </script>

       <script>
        
       </script>
               <!--===== SCROLL REVEAL =====-->
               <script src="https://unpkg.com/scrollreveal"></script>

               <!--===== MAIN JS =====-->
               <!-- <script src="assets/js/main.js"></script> -->
               <!-- <script src="{{ url_for('static', filename='js/main.js') }}"/>    -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>
